*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("entrance.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    background-color: rgba(0, 0, 0, 0.475);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    width: 300px;
    height: 500px;
    border-radius: 12px;
    text-align: center;
}

.formulario{
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    line-height: 1.5em;
}

input[type="text"], textarea{
    background-color: rgb(157, 157, 156);
}
