*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("denied.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 35%;
    color: white;
}